{{ define "title" }}
{{- .Title -}}
{{ end }}

{{ define "main"}}

<div class="mt-8 lg:mt-12 px-4">
  <div class="mx-auto prose dark:prose-invert">
    <h1 class="text-3xl">{{ .Title }}</h1>
    {{ if .Content }}
    <div class="text-sm">{{ .Content }}</div>
    {{ end }}
  </div>

  {{ if site.Params.zenMode }}
  <div class="dream-zen-posts max-w-[65ch] mt-8 lg:mt-12 mx-auto space-y-8">
    {{ range .Pages.ByDate.Reverse }}
      {{ .Render "zen-summary" }}
    {{ end }}
  </div>
  {{ else }}
  <div class="dream-grid opacity-0 mt-4">
    {{ range .Pages.ByDate.Reverse }}
      <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4 dream-column">
        {{ .Render "summary" }}
      </div>
    {{ end }}
  </div>
  {{ end }}
</div>

{{ end }}
